<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Matches
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button routerLink="/profile">
        <ion-icon slot="icon-only" name="contact"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Team</ion-label>
      <ion-select placeholder="Pick a team..." [(ngModel)]="selectedTeamName" (ionChange)="UpdateSelectedMatches()">
        <ion-select-option *ngFor="let team of teams">{{ team.name }}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-slides class="match-slides" pager="true" [options]="slideOpts" (ionSlideDidChange)="SlideChanged($event)">
    <ion-slide *ngFor="let match of matches">
      <ion-card color="secondary" class="match-card">
        <div class="justify-content-between container-card">
          <span class="card-font">{{ match.challengerName }}</span>
          <span class="card-font">{{ match.oppositionName }}</span>
        </div>
        <p class="verse-font">Verse</p>
        <p>{{ match.matchDate | date }}</p>
        <div>
          <ion-button (click)="presentAlertPrompt(match.id)" class="mt-3">Outcome
          </ion-button>
        </div>
      </ion-card>
    </ion-slide>
  </ion-slides>
  <ion-grid>
    <ion-row class="text-center">
      <!-- <ion-col size="8">
      </ion-col> -->
      <ion-col size="6">
        <ion-button color="medium" style="width: 80%">Edit Match</ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button color="danger" style="width: 80%">Cancel</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="create-button justify-content-center">
      <ion-button style="width: 85%;"(click)="openModal()">Create New Match</ion-button>
  </div>
</ion-content>