.signin {
    margin-top: 25%;
}

.signin-center {
    display: block;
    width: 50%;
    margin: auto;
}

.signin-title {
    text-align: center;
}

.signin-signup {
    text-align: center;
    margin: 20px;
}