<ion-header>
  <ion-toolbar>
    <ion-title>
      Leaderboards
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="my-2">
    <div class="d-flex justify-content-center mb-3">
      <h2>Your Best Ranking</h2>
    </div>
    <div class="d-flex justify-content-around">
      <div class="text-left">
        <h4>Rank</h4>
        <b>{{ getMyBestTeam(1).rank }}</b>
      </div>
      <h2>{{ getMyBestTeam(1).team.team.name }}</h2>
      <div class="text-right">
        <h4>ELO</h4>
        <b>{{ getMyBestTeam(1).team.ranking.elo }}</b>
      </div>
    </div>
  </div>
  <ion-item-divider> </ion-item-divider>
  <div class=" mt-2 d-flex justify-content-between mx-3">
    <div class="text-left">
      <span><b>Rank</b></span>
    </div>
    <span><b>Team</b></span>
    <div class="text-right">
      <span><b>ELO</b></span>
    </div>
  </div>
  <ion-list>
    <ion-card (click)="expand(teamRank)" *ngFor="let i = index; let teamRank of teamRankings">
      <ion-item>
        <span slot="start"
          ><b>{{ i + 1 }}.</b></span
        >
        <span class="mr-2">{{ teamRank.team.name }}</span>
        <ion-avatar class="mr-2" *ngFor="let user of teamRank.team.users">
          <img
            src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"
          />
        </ion-avatar>
        <span slot="end">
          <b>{{ teamRank.ranking.elo }}</b>
          <ion-icon class="ml-3" name="arrow-dropdown"></ion-icon> 
        </span>

      </ion-item>
      <div *ngIf="teamRank['expanded']">
        <ion-button>View</ion-button>
        <ion-button color="danger">Challenge</ion-button>
      </div>
    </ion-card>
  </ion-list>
</ion-content>
