<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Leaderboards
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-item lines="full">
      <ion-label>Ruleset</ion-label>
          <ion-select interface="action-sheet" [(ngModel)]="ruleset" placeholder="Choose a ruleset" (ionChange)="changeRuleset($event)">
              <ion-select-option *ngFor="let rule of rulesets" [value]="rule.id">{{rule.name}}</ion-select-option>
            </ion-select>
    </ion-item>
  </div>
  <div class="my-2">
    <div class="d-flex justify-content-center mb-3">
      <h2>Your Best Ranking</h2>
    </div>
    <div class="d-flex justify-content-around">
      <div class="text-left">
        <h4>Rank</h4>
        <b>{{ myBestTeam?.rank }}</b>
      </div>
      <h2>{{ myBestTeam?.team?.team?.name }}</h2>
      <div class="text-right">
        <h4>ELO</h4>
        <b>{{ myBestTeam?.team?.ranking?.elo }}</b>
      </div>
    </div>
  </div>
  <ion-item-divider> </ion-item-divider>
  <div class=" mt-2 d-flex justify-content-between mx-3">
    <div class="text-left">
      <span><b>Rank</b></span>
    </div>
    <span><b>Team</b></span>
    <div class="text-right">
      <span><b>ELO</b></span>
    </div>
  </div>
  <ion-list>
    <ion-card *ngFor="let i = index; let teamRank of teamRankings">
      <ion-item (click)="expand(teamRank)">
        <span slot="start"
          ><b>{{ i + 1 }}.</b></span
        >
        <span class="mr-2">{{ teamRank.team.name }}</span>
        <ion-avatar class="mr-2" *ngFor="let user of teamRank.team.users">
          <img
            src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"
          />
        </ion-avatar>
        <span slot="end">
          <b>{{ teamRank.ranking.elo }}</b>
          <ion-icon *ngIf="checkMyTeams(i)" class="ml-3" name="arrow-dropdown"></ion-icon> 
        </span>

      </ion-item>
      <div *ngIf="teamRank['expanded'] && checkMyTeams(i)" class="d-flex justify-content-end p-2">
            <ion-button color="danger" *ngIf="checkMyTeams(i)" [routerLink]="['/manage_matches']" [queryParams]="{ myTeam: myBestTeam.team.team.id, challengedTeam: teamRank.team.id }">Challenge</ion-button>
      </div>
    </ion-card>
  </ion-list>
</ion-content>
