<ion-header>
  <ion-toolbar>
    <ion-title>Manage Matches</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="match-card">
    <div class="text-center">
    <app-logo-icon class="logo-inverted" [svgSize]="100"></app-logo-icon>
    <app-logo-icon class="logo-center" [svgSize]="100"></app-logo-icon>
    </div>
    <ion-card-header>
      <ion-card-title>Create a Match</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item lines="full">
        <ion-label>Pick your team...</ion-label>
        <ion-select interface="action-sheet" [(ngModel)]="chaTeamName">
          <ion-select-option *ngFor="let team of oppositionTeams">{{ team.name }}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Pick an opponent</ion-label>
        <ion-select interface="action-sheet" [(ngModel)]="oppTeamName">
          <ion-select-option *ngFor="let team of oppositionTeams">{{ team.name }}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <span slot="start">When?</span>
        <ion-datetime [(ngModel)]="matchDate" displayFormat="MMM DD, YYYY hh:mm A" pickerFormat="MMMM YYYY hh mm A"></ion-datetime>
        <ion-icon class="datepicker-carat" slot="end" name="md-arrow-dropdown"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-label>Ruleset</ion-label>
        <ion-select interface="action-sheet" [(ngModel)]="selectedRulesetName">
          <ion-select-option *ngFor="let ruleset of rulesets">{{ ruleset.name }}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-button class="challenge-button" expand="full" fill="outline" (click)="CreateMatch()">Challenge!</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>