<ion-card>
  <ion-card-content>
    <div>
      <div class="d-flex">
        <div class="d-flex flex-column  flex-fill justify-content-start scorebox">
          <div class="d-flex flex-row justify-content-between mr-2">
            <div>{{scores.scores[0].team}}</div>
            <div>{{scores.scores[0].score}}<ion-icon style="margin-right: -.825rem" *ngIf="scores.scores[0].winner"
                name="arrow-dropleft"></ion-icon>
            </div>
          </div>
          <div class="d-flex flex-row justify-content-between mr-2">
            <div>{{scores.scores[1].team}}</div>
            <div>{{scores.scores[1].score}}<ion-icon style="margin-right: -.825rem" *ngIf="scores.scores[1].winner"
                name="arrow-dropleft"></ion-icon>
            </div>
          </div>
        </div>
        <div class="d-flex flex-column flex-fill align-items-center align-self-center schedule">
          <span *ngIf="!scores.final">{{scores.schedule | date: 'short'}}</span>
          <span *ngIf="scores.final" class="font-weight-bold">Final</span>
        </div>
      </div>
    </div>
  </ion-card-content>
</ion-card>