<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="score">
      <!-- <ion-icon name="flash"></ion-icon> -->
      <app-scoreboard-icon [svgSize]="20"></app-scoreboard-icon>
      <ion-label>Scores</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="match">
      <ion-icon name="apps"></ion-icon>
      <ion-label>Matches</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="leaderboard">
      <!-- <ion-icon name="send"></ion-icon> -->
      <app-leaderboard-icon  [svgSize]="20"></app-leaderboard-icon>
      <ion-label>Leaderboards</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="team">
      <ion-icon name="ios-people" [attr.color]="'black'"></ion-icon>
      <ion-label>Teams</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>