<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Profile
    </ion-title>
    <!-- <ion-buttons slot="primary">
      <ion-button routerLink="/profile">
        <ion-icon slot="icon-only" name="contact"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <!-- <ion-img src="/assets/shapes.svg"></ion-img> -->
    <div class="d-flex justify-content-center mt-3">
      <ion-icon slot="icon-only" name="contact" style="font-size: 120px"></ion-icon>
    </div>

    <ion-card-header>
      <ion-card-title *ngIf="!user">Create Account</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-input placeholder="Name" [(ngModel)]="model.name" required="true"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Email" [(ngModel)]="model.email" required="true"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="password" placeholder="Password" [(ngModel)]="model.password" required="true"></ion-input>
      </ion-item>
      <ion-button *ngIf="!user" color="primary" expand="full" (click)="createUser()">Submit</ion-button>
      <ion-button *ngIf="user" color="primary" expand="full" (click)="authService.logout()">Logout</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>