<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="myDismiss()">
          Close
        </ion-button>
        <ion-title style="margin-left: 50px">Create Team</ion-title>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Team Name: </ion-label>
    <ion-input [(ngModel)]="name"></ion-input>
  </ion-item>
  <div style="height: 400px; overflow: auto;">
    <ion-list>
        <ion-list-header>
          <ion-label>Select (2) Users</ion-label>
        </ion-list-header>
        <ion-item *ngFor="let user of users">
          <ion-label>{{user.username}}</ion-label>
          <ion-checkbox slot="end" [(ngModel)]="user.isChecked"></ion-checkbox>
        </ion-item>
    </ion-list>
  </div>
</ion-content>