<ion-content>
<ion-list class="mt-3">
  <ion-item href="#" detail *ngFor="let team of teams">
    <ion-avatar slot="start">
      <img src="../../../../assets/smile.png">
    </ion-avatar>
    <ion-label>
      <h1>{{ team.name }}</h1>
      <p>Best Rank: ____ in _____ ruleset.</p>
      <p>Wins: ____ Losses: ____</p>
    </ion-label>
  </ion-item>
</ion-list>



<ion-fab class="mr-3" vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="openModal()">
    <ion-icon name="md-add"></ion-icon>
  </ion-fab-button>
</ion-fab>
</ion-content>